.fields {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 150px;
  padding-right: 150px;
}

.lightning {
  display: block;
  width: 100px;
  height: auto;
  fill: orange;
}
